<div>
	<img src="./assets/images/logo.PNG" alt="Logo" class="logo">
</div>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<h3 class="text-center">
						Action de l'utilisateur
					</h3>
					<div class="row">
						<div class="col-md-12">
						</div>
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<button (click)="goBack()">Retour à la liste des Utilisateurs</button>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>
									<h2>Date de Connexion</h2>
								</th>
								<th>
									<h2>Action</h2>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let record of records">
								<td>
									<span>{{record.timestamp | date:"le dd/MM/yyyy à HH'h'mm"}}</span>
								</td>
								<td>
									<span>{{record.action}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
</div>