.img-thumbnail {
    width: 150px;
    height: 100px;
}
.row {
    background-color:#0F5663;
}
h3 {
    color: antiquewhite;
    text-align: center;
    border-radius: 30px;
}
a {
color: antiquewhite;
text-decoration: none;
}
#main{
width: 90%;
}
span {
    color: antiquewhite;
}
.search-account{
    padding-bottom: 20px;
    padding-top: 20px;
}
#title{
    padding-bottom: 5px;
}
.bandeau{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    border-radius: 10px;
}
.retour{
   text-align: center;
}
